@media screen and (max-width:720px){
    container:after{
        content: "width:96%";
    }
    header h1{
        text-align: center;
    }
    header img:after{
        content: "max-width:50%";
    }
    .atalhos{
        position:static;
    }
}

