.containerConteudo{
    padding-bottom:50px;
}

.containerConteudo h1{
    font-size: 100px;
}

.containerConteudo h2{
    font-size: 60px;
}

.containerConteudo h1, h2{
    color: white;
}

.containerConteudo ul li a{
    color: white;
    list-style:none;
    font-size:50px;
    gap:20px
}

.containerConteudo ul li{
    padding-top:23px;
}




