.menu {
    text-align: center;
    padding-bottom: 50px;
}

.Aula5 {
    width: 100px;
    float: right;
}

.blog {
    width: 100px;
    float: right;
}

nav {
    border-style: solid;
    background-color: black;
    width: 100%;
    height: 70%;
}

.Atalhos1 {
    text-align: center;
    padding-top: 100px;
}

.Atalhos2 {
    text-align: center;
    display: inline;
    position:absolute;
    top: 60px;
    right: 450px;
}

.Atalhos3 {
    text-align: center;
    display: inline;
    position:absolute;
    top: 60px;
    right: 380px;
}

.painel img{
    width: 200px;
    height: 200px;
}

.painel blog {
    text-align: center;
}

#figureAula7 {
    padding-right: 700px;
    
}

.painel aula5 {
    padding-left: 600px;
}





