.bio{
    color: white;
    position:static;
    padding-top:100px;
}

.bio img{
    width: 20%;
    border-radius: 50%;
}

.bio h1{
    font-size:50px;
    padding-top:10px;
}

#icon img{
    width: 20px;
    animation-name:alien;
    animation-duration:150s;
    position:relative;
}

@keyframes alien {
    0%   {left:0%; top:0px;}
    25%  {left:100%; top:0px;}
    50%  {left:100%; top:0px;}
    75%  {left:100%; top:0px;}
    100% {left:100%px; top:0px;}
  }