

.destaqueBlog {
    float: right;
}

.cabecario {
    border-style: solid;
    background-color: black;
    color: white;
    height:80px;
}

.painel img{
    width:400px;
    height: 400px;
}

.blog {
    text-align: center;
}

.aula5 {
    padding-left: 600px;
}

footer{
    width:100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    background-color: blue;
}

footer a[href*="github"]{
    color: white;
    background-image: url("../img/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    padding-top: 35px;
}



footer li {
    width: 100px;
    display: inline-block;
    height: 80px;
}




