.busca {
    background-color: blue;
    width: 350px;
}

.menu-conteudo li ul {
    display:none;
}

.menu-conteudo li:hover ul{
    display:block;
}

.menu-conteudo ul ul li{
    background-color:green;
}



