body{
    background-color:white;
}

header{
    background-color:green;
    width:100%;
}

.nav-item{
    padding:20px;
}

.nav-item a{
   background-color:#0d6efd;
   color:whitesmoke;
}

h1{
    text-align:center;
    padding:50px;
}

h1 img{
    width:40%;
}