body{
    background-image:url("./img/background-pokedex2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

main{
    display:flex;
    justify-content:center;
}

#figPokedex{
    display:flex;
    justify-content:center;
    width:400px;
    height:600px;
}

#containerImagem{
    position:relative;
}

#imagemPoke{
    position:absolute;
    top:28%;
    left: 20%;
}

#inputForm{
    position:absolute;
    top: 55%;
    left:25%;
}

#nomePokemon{
    position:absolute;
    bottom:33%;
    left:50%;
}

#idPokemon{
    position:absolute;
    bottom:33%;
    left:25%;
}


/*#informacoes1{
    position:absolute;
    bottom:28%;
    left:25%;
}*/

#informacoes2{
    position:absolute;
    bottom:13%;
    left:25%;
}

#tipo1{
    position:absolute;
    bottom:28%;
    left:25%;
}

#tipo2{
    position:absolute;
    bottom:28%;
    left:50%;
}

#botoes{
    position:absolute;
    bottom:-1%;
    left:44%;
}

#btnVoltar, #idProx{
    background-color:orange;
    box-shadow:-2px 2px black; 
    border-radius:2px;
}
