main{
    padding-top:8%;
}

#curiosidades h1{
    padding-left:1%;
}

#curiosidades h2{
    padding-left:1%;
}

#curiosidades p{
    padding-left:1%;
}

#curiosidades img{
    width:100%;
}