body, html{
    background-color:whitesmoke;
}

.geral{
    margin-top: 7%;
    margin-bottom:5%;
    display: flex;
    justify-content:center;
}

.containerCarta{
    background-color: lightblue;
    width:445px;
    height:350px;
    border: solid; border-color:red;
    text-align:center;
    position:relative;
    padding-top:2%;
    border-radius:0.9em;
}

.containerCarta h1{
    font-family: cursive;
    color:black;
    text-align:center;
    padding-top:3%;
}

.containerCarta h2{
    font-family: cursive;
    color:red;
    text-align:center;
    padding-top:10%;
}

.containerCarta p{
    font-family: cursive;
}

#img1{
    position:absolute;
    max-width: 100px;
    top:-60px;
    left: 170px;
}

#img2{
    display:flex;
    position:absolute;
    max-width:100px;
    left:380px; bottom:-10px;
}

.texto{
    color: white;
}

.texto h1{
    color: tomato;
}

span {
    color: brown;
}

footer{
    position:absolute;
    float:left;
    padding-top: 25px; padding-left:4px;
}

