body, html{
    height: 100%;
    width: 100%;
}

.containerPersonagem{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20%
}

.cartaoPersonagem{
    margin-top:10%;
    border:solid;
    border-radius:8px;
    max-width: 300px; height: 520px;
}

.cartaoPersonagem img{
    width:100%;
    height: auto;
    display:block;
}

.resumoPersonagem{
    text-align:center;
    font-size:80%;
}

h1{
    padding-top:10px;
}

#textoInferior{
    padding-top:10px;
}

#tanjiro{
    background-color:red;
}

#rengoku{
    background-color:darkorange;
}

#goto{
    background-color:gray;
}

#oniFigu{
    background-color:blue;
}

#rui{
    background-color:whitesmoke;
}

#kokushibou{
    background-color:purple;
}