body {
    background-color: red;
}

.person {
    color: red;
    align-items: center;
    padding-top: 100px;
    text-align: center;
    background-color: black;
    height: 500px;
}

.person p {
    padding-left: 30px;
}

.person img {
    width: 300px;
}
